<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.webdevels.shopscript">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ru.evotor.permission.receipt.print.INTERNET_RECEIPT" />
    <uses-permission android:name="ru.evotor.pushnotifications.PUSH_RECEIVE" />
    <uses-permission android:name="ru.evotor.permission.SELL_INTEGRATION_SERVICE" />
    <uses-permission android:name="ru.evotor.permission.receipt.printExtra.SET" />
    <uses-permission android:name="ru.evotor.permission.PRINT_Z_REPORT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ru.webdevels.shopscript.ReceiptLauncher"></activity>
        <activity
            android:name="ru.webdevels.shopscript.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <meta-data
                android:name="ru.evotor.launcher.BACKGROUND_COLOR"
                android:value="#3b2" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.EVOTOR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ReceiptPrintService">
            <intent-filter>
                <action android:name="evo.v2.receipt.sell.printExtra.REQUIRED" />
            </intent-filter>
        </service>


        <service
            android:name=".ReceiptExtraSetService"
            android:icon="@mipmap/ic_launcher"
            android:label="Shop-Script">
            <meta-data
                android:name="ru.evotor.sales_screen.BACKGROUND_COLOR"
                android:value="#3b2" />
            <intent-filter android:priority="20">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="evo.v2.receipt.sell.receiptDiscount" />
            </intent-filter>
        </service>

        <receiver
            android:name=".PushReceiver"
            android:permission="ru.evotor.pushnotifications.PUSH_SENDER">
            <intent-filter>
                <action android:name="ru.evotor.pushnotifications.PUSH_RECEIVED_EVENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ClosedReceiptsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="evotor.intent.action.receipt.sell.RECEIPT_CLOSED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="app_uuid"
            android:value="271354c5-ceae-4ac7-8029-14fd40fe3973" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://d6a6a3c0100e43ed9c1e4a573cd8a542@o380146.ingest.sentry.io/5205653" />

    </application>

</manifest>